In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
# Load your training dataset
train_data = pd.read_excel('/content/drive/MyDrive/Resolute AI/Task1and2/train.xlsx')

# Load your test dataset
test_data = pd.read_excel('/content/drive/MyDrive/Resolute AI/Task1and2/test.xlsx')

# Preview the data
print(train_data.head())
print(test_data.head())

   T1  T2  T3  T4  T5  T6  T7  T8  T9  T10  T11  T12  T13  T14  T15  T16  T17  \
0 -70 -61 -66 -53 -51 -63 -82 -57 -76  -78  -66  -66  -61  -59  -73  -75  -63
1 -77 -74 -71 -76 -65 -63 -66 -52 -55  -75  -72  -75  -74  -61  -64  -63  -53
2 -53 -38 -55 -66 -62 -62 -65 -70 -62  -52  -56  -53  -66  -68  -72  -60  -68
3 -72 -62 -59 -65 -65 -65 -78 -82 -83  -59  -84  -60  -64  -83  -69  -72  -95
4 -67 -69 -65 -63 -59 -53 -70 -72 -71  -60  -61  -57  -54  -76  -61  -66  -71

   T18 target
0  -77    B37
1  -63    B61
2  -77    A19
3  -73    A22
4  -80    A33
   T1  T2  T3  T4  T5  T6  T7  T8  T9  T10  T11  T12  T13  T14  T15  T16  T17  \
0 -76 -83 -70 -66 -64 -72 -64 -69 -60  -76  -83  -78  -81  -81  -81  -70  -60
1 -58 -57 -78 -81 -73 -73 -78 -78 -82  -49  -55  -58  -66  -79  -72  -83  -74
2 -70 -70 -71 -69 -69 -68 -61 -55 -53  -82  -87  -76  -68  -57  -64  -75  -57
3 -71 -61 -56 -56 -61 -60 -68 -66 -72  -58  -55  -56  -58  -62  -61  -59  -64
4 -72 -71 -64 -69 -64 -63 -61 -42 -55  -61  -69  -67  -63  -63  -55  -49  -49

   T18
0  -60
1  -80
2  -70
3  -65
4  -57

In [6]:
# Handle missing values if any
train_data = train_data.dropna()
test_data = test_data.dropna()

# Select only numeric columns for clustering
numeric_columns = train_data.select_dtypes(include=[np.number]).columns

# Feature scaling
scaler = StandardScaler()
scaled_train_data = scaler.fit_transform(train_data[numeric_columns])

In [7]:
# Apply KMeans clustering
kmeans = KMeans(n_clusters=3)  # You can adjust the number of clusters
kmeans.fit(scaled_train_data)

# Predict cluster for each data point in the training set
train_clusters = kmeans.predict(scaled_train_data)
train_data['Cluster'] = train_clusters

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [8]:
# Evaluate using silhouette score
score = silhouette_score(scaled_train_data, train_clusters)
print(f'Silhouette Score: {score}')

Silhouette Score: 0.21789001477545797

In [9]:
# Scale the test data using the same scaler
scaled_test_data = scaler.transform(test_data[numeric_columns])

# Predict clusters for test data
test_clusters = kmeans.predict(scaled_test_data)
test_data['Cluster'] = test_clusters

# Save the test data with cluster predictions
test_data.to_excel('test_with_clusters.xlsx', index=False)
print(test_data)

       T1  T2  T3  T4  T5  T6  T7  T8  T9  T10  T11  T12  T13  T14  T15  T16  \
0     -76 -83 -70 -66 -64 -72 -64 -69 -60  -76  -83  -78  -81  -81  -81  -70
1     -58 -57 -78 -81 -73 -73 -78 -78 -82  -49  -55  -58  -66  -79  -72  -83
2     -70 -70 -71 -69 -69 -68 -61 -55 -53  -82  -87  -76  -68  -57  -64  -75
3     -71 -61 -56 -56 -61 -60 -68 -66 -72  -58  -55  -56  -58  -62  -61  -59
4     -72 -71 -64 -69 -64 -63 -61 -42 -55  -61  -69  -67  -63  -63  -55  -49
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15747 -64 -68 -64 -67 -66 -53 -61 -51 -44  -76  -64  -62  -68  -60  -58  -54
15748 -57 -46 -64 -55 -56 -54 -70 -64 -63  -51  -56  -58  -60  -61  -61  -62
15749 -76 -67 -69 -71 -68 -70 -57 -57 -59  -76  -85  -72  -67  -58  -66  -66
15750 -69 -78 -65 -65 -38 -55 -66 -66 -76  -64  -64  -66  -55  -60  -55  -64
15751 -74 -68 -70 -80 -66 -61 -68 -62 -49  -79  -82  -71  -68  -74  -61  -57

       T17  T18  Cluster
0      -60  -60        0
1      -74  -80        2
2      -57  -70        0
3      -64  -65        1
4      -49  -57        0
...    ...  ...      ...
15747  -48  -51        0
15748  -62  -64        1
15749  -55  -54        0
15750  -66  -69        1
15751  -52  -56        0

[15752 rows x 19 columns]